<template>
	<tr class="member">
		<td v-for="the_key in user_keys"
			:key="`member-list-item-${the_key}-${member.player_id}`"
			:class="`member`"
		>
			<template v-if="the_key == 'player_id'">
				<a :href="`https://www.torn.com/profiles.php?XID=${member[the_key]}`">
					{{member[the_key]}}
				</a>
			</template>

			<template v-else-if="the_key == 'traveling'">
				<span :class="`data-column ${the_key}`" :data-value="member.status.state == 'Traveling'">
					{{member.status.state != 'Traveling' 
						? 'In Torn' 
						: member.status.description.startsWith('Returning') ? 'Returning to Torn' : member.status.description}}
				</span>
			</template>
			
			<span v-else :class="`data-column ${the_key}`" :data-value="member[the_key]">
					{{member[the_key]}}
			</span>
		</td>
		
		<td :key="`member-list-item-synced-${member.player_id}`">
			{{member.synced && `${Math.round(dayjs().diff(member.synced) / 1000)}s ago`}}
		</td>

		<td :key="`member-list-item-actions-${member.player_id}`"
			class="actions-cell"
		>
			<div :class="`button slim ${member.online_status === 'Online' ? 'green' : 'darkgreen'}`" v-if="member.revivable && member.hospitalized" @click="reviveMember(member.player_id)">Revive</div>
			<div class="button slim" v-if="!fetching.members" @click="fetchSingleMember(member.player_id)">Refresh</div>
		</td>
	</tr>
</template>

<script>
import dayjs from 'dayjs';
import * as relativeTime from 'dayjs/plugin/relativeTime';
import * as dayjsDuration from 'dayjs/plugin/duration';
dayjs.extend(relativeTime);
dayjs.extend(dayjsDuration);
export const user_keys = [
	"name",
	"player_id",
	"revivable",
	"hospitalized",
	"online_status",
	"traveling",
	"level",
	"age",
	"health",
	"last_online",
	// "donator",
	// "gender",
	// "property",
	// "signup",
	// "awards",
	// "friends",
	// "enemies",
	// "forum_posts",
	// "karma",
	// "role",
//   "property_id",
//   "competition",
//   "life",
//   "status",
//   "job",
//   "faction",
//   "married",
//   "basicicons",
//   "states",
//   "last_action",
//   "last_online_2",
//   "hosp_time"
];


export default {
	props: ['member', 'fetching'],
	name: 'MemberRow',
	data() {
		return {
			dayjs,
			user_keys,
			tick_interval: null,
		}
	},
	mounted() {
		if (!this.tick_interval) this.tick_interval = setInterval(() => {
			this.$forceUpdate()
		}, 1000);
	},
	methods: {
		fetchSingleMember(id) {
			this.$emit('FetchMember', id);
		},
		reviveMember(id) {
			this.$emit('ReviveMember', id);
		},
	}
}
</script>